img {
    float:left;
  border-radius: 50%;
  border: 1px solid #ddd; 
  width:120px;
  height:120px;
  margin-right:15px;
  margin-left:15px;
  margin-top:20px;
  margin-bottom:20px;

}
ul, li {
    list-style: none;
}

div {
   border-top:1px;
   border-bottom:1px; 
}

.searchForm {
  width: 100%;
  text-align: center;
}

input {
  border: 0;
  border-bottom: solid 1px gainsboro;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
}

.searchForm input {
  width: 95%;
  padding: 15px 0;
  margin: 0 auto;
}

input:focus {
  outline: none;
  border-bottom: solid 1px black;
}

input::placeholder {
  color: grey;
}

.expand-btn {
  position: absolute;
  right: 15px;
  padding-top: 15px;
}

.expand-btn button {
  border: 0;
  background-color: inherit;
}

.expand-btn button:focus {
  outline: none;
}

.expand-btn i {
  font-size: 1.5rem;
  color: grey;
}
